@import url(header.css);
@import url(banner.css);
@import url(carousel.css);
@import url(topics.css);
@import url(contact.css);
@import url(footer.css);

:root {
    --background-color: #EBECEE;
    --title-color: #EB9B00;
    --blue-color: #002F52;
    --blue-gradient: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
    --header-background-color: #FFFFFF;
    --main-font: "Poppins";
    --font-sec: "Josefin Sans";
    --font-black: #000000;
    --font-footer: #474646;
    --color-footer: #858585;
}


body {
    background-color: var(--background-color);
    font-family: var(--main-font);
    font-size: 16px;
    font-weight: 400;
}
